<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>File Manager</title>
    <style>
        body::-webkit-scrollbar{
            display: none;
        }
    </style>
</head>

<body class="w-full min-h-screen bg-zinc-800 p-5 flex justify-center items-center">
    <div class="w-[80%] bg-zinc-600 p-10 rounded-md">
        <a href="/" class="text-blue-400">Back to Home</a>
        <p class="text-white text-3xl mt-3 marker text-yellow-400">
            <%=filename%>
        </p>
        <p class="text-white text-lg mt-2 text-justify whitespace-pre-wrap">
            <%=filedata%>
        </p>
    </div>
</body>

</html>